h1{
	font-family: Georgia;
}
body{
	font-size: 30px;
}
p{
	font-size: 2.0em;
}
p{font-weight: bold;
line-height: 1.5;
}
h1{
	text-align: right;
}
p{
	text-align: center;
}
h1{
	text-decoration: underline;
}
#para {
	text-decoration: line-through;
}
p{
	text-decoration: underline;
}